DotNetLabs/Lab asp .net/Client/Connected Services/ServiceReference1/post.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PostComment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PostComment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/post?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Post">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="DatePost" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostId" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="State" type="tns:State" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommentId" type="xs:int" />
          <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateComment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
          <xs:element minOccurs="0" name="PostPostId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
</xs:schema>