DotNetLabs/Lab asp .net/Client/Connected Services/ServiceReference1/ServicePC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/post?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/post?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/post?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PostComment" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePC_GetPostById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostById" />
  </wsdl:message>
  <wsdl:message name="IServicePC_GetPostById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePC_AMDPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AMDPost" />
  </wsdl:message>
  <wsdl:message name="IServicePC_AMDPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AMDPostResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePC_GetAllPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPosts" />
  </wsdl:message>
  <wsdl:message name="IServicePC_GetAllPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePC_GetComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="IServicePC_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePC_AMDComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AMDComment" />
  </wsdl:message>
  <wsdl:message name="IServicePC_AMDComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AMDCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePC">
    <wsdl:operation name="GetPostById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePC/GetPostById" message="tns:IServicePC_GetPostById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePC/GetPostByIdResponse" message="tns:IServicePC_GetPostById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AMDPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePC/AMDPost" message="tns:IServicePC_AMDPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePC/AMDPostResponse" message="tns:IServicePC_AMDPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePC/GetAllPosts" message="tns:IServicePC_GetAllPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePC/GetAllPostsResponse" message="tns:IServicePC_GetAllPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePC/GetComments" message="tns:IServicePC_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePC/GetCommentsResponse" message="tns:IServicePC_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AMDComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePC/AMDComment" message="tns:IServicePC_AMDComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePC/AMDCommentResponse" message="tns:IServicePC_AMDComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePC" type="tns:IServicePC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostById">
      <soap:operation soapAction="http://tempuri.org/IServicePC/GetPostById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMDPost">
      <soap:operation soapAction="http://tempuri.org/IServicePC/AMDPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPosts">
      <soap:operation soapAction="http://tempuri.org/IServicePC/GetAllPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/IServicePC/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMDComment">
      <soap:operation soapAction="http://tempuri.org/IServicePC/AMDComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePC">
    <wsdl:port name="BasicHttpBinding_IServicePC" binding="tns:BasicHttpBinding_IServicePC">
      <soap:address location="http://localhost:8080/post" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>